<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="Telerickr" connectionString="Server=telerickr.crannfpfmxvs.us-west-2.rds.amazonaws.com,1433;Database=telerickr;User Id=amphitrite;
Password=amph2015;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>