<div class="row">
{{#each this}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail album-box" data-id="{{id}}" data-title="{{title}}">
      <h3 class="text-center">{{title}}</h3>
    </div>
  </div>
{{/each}}
</div>