<fieldset>
    <legend>Add new photo</legend>
    <div class="form-group">
        <label for="albums-dropdown">Album:</label>
        <select id="albums-dropdown" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="tb-photo-title">Title:</label>
        <input type="text" class="form-control" id="tb-photo-title" />
    </div>
    <div class="form-group">
        <label for="tb-photo-url">Url:</label>
        <input type="text" class="form-control" id="tb-photo-url" />
    </div>
    <button class="form-control btn btn-primary" id="btn-photo-add">Add</button>
</fieldset>