<fieldset>
  <legend>Add new albums</legend>
  <div class="form-group">
    <label for="tb-album-text">Title:</label>
    <input type="text" class="form-control" id="tb-album-text" />
  </div>
  <button class="form-control btn btn-primary" id="btn-album-add">Add</button>
</fieldset>